.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("../images/slide1.jpg");
  background-position: top;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("../images/slide2.jpg");
  background-position: top;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-caption {
  z-index: 10;
}

.carousel-item {
  height: 516px;
}

footer {
  padding: 15px 0px;
  font-size: 14px;
  background-color: #ccc;
}

footer p {
  margin-bottom: 0;
}
